language = "java10"
run = "javac -d plusieursClasses/bin plusieursClasses/src/edu/djc/classes/Helper.java plusieursClasses/src/edu/djc/classes/App.java \n java -cp plusieursClasses/bin edu.djc.classes.App"